@font-face {
    font-family: 'optima';
    src: url('../fonts/optima.ttf');
}
@font-face {
    font-family: 'optima-bold';
    src: url('../fonts/optima-bold.ttf');
}
@font-face {
    font-family: 'Portico-Diablo';
    src: url('../fonts/Portico-Diablo.otf');
}
@font-face {
    font-family: 'Portico-Light';
    src: url('../fonts/Portico-Light.otf');
}
@font-face {
    font-family: 'Portico-Regular';
    src: url('../fonts/Portico-Regular.otf');
}
@font-face {
    font-family: 'ABeeZee-Regular';
    src: url('../fonts/ABeeZee-Regular.ttf');
}
@font-face {
    font-family: 'ABeeZee-Italic';
    src: url('../fonts/ABeeZee-Italic.ttf');
}



body,
ul,
ol
{ 
  margin: 0px;
  padding: 0px;
  list-style: none;
  outline: none;
  font-family: 'ABeeZee-Regular';
}
button:focus,
select:focus,
input:focus,
textarea:focus {
    outline: none;
    box-shadow: unset !important;
}
a{
    text-decoration: none;
    transition: 0.5s all;
}
a:hover{
    text-decoration: none;
}

h1{
    font-size: 54px;
    line-height: 64px;
    font-family: 'Portico-Regular';
    color: #fff;
}
h2{
    font-size: 42px;
    font-family: 'Portico-Regular';
}
h3{
    font-size: 30px;
    font-family: 'Portico-Diablo';
}
h4{
    font-size: 27px;
    font-family: 'Portico-Diablo';
}
h5{
    font-size: 24px;
    font-family: 'Portico-Diablo';
}
h6{
    font-size: 21px;
    font-family: 'ABeeZee-Regular';
}

h1,
h2,
h3,
h4,
h5,h6{
    margin: 0px;
    color: #000;
}
p{
    font-family: 'ABeeZee-Regular';
    margin: 0px;
    font-size: 16px;
}




/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Home Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

/* Header Section */
.topbar {
    background-color: #B69E00;
}
.topbar p{
    font-family: 'ABeeZee-Regular';
    text-align: center;
    font-size: 14px;
    padding: 5px 0px;
    color: #FFFFFF;
}
.header-contact {
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
.header-contact ul {
    display: flex;
    justify-content: flex-end;
    padding: 15px 0px;
}
.header-contact a{
    font-family: 'ABeeZee-Regular';
    font-size: 12px;
    color:  #663300;
}
.header-menu-items:first-child a {
    font-size: 14px;
    font-family: 'ABeeZee-Regular';
    color: #000;
}
.header-menu-items:first-child a:hover{
    color: #B69E00;
}
.active-link{
    color: #B69E00 !important;
}
.header-contact ul li:first-child {
    border-right: 1px solid rgba(0,0,0,0.1);
    padding-right: 15px;
    margin-right: 15px;
}
.header-contact a img {
    width: 12px;
    height: 12px;
    margin-top: -3px;
    margin-right: 5px;
    object-fit: contain;
}
.header-menu-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-menu-items ul {
    display: flex;
}
.header-menu-items:last-child ul{
    justify-content: flex-end;
}

.header-menu-items {
    width: 50%;
}
.header-menu-items:first-child li{
    padding-right: 20px;
    padding-top: 38px;
    padding-bottom: 38px;
}
.header-menu-items:last-child li{
    padding-right: 20px;
}
.header-menu-items li:last-child{
    padding-right: 0px;
}
.header-logo {
    width: 200px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0px;
    z-index: 99;
}
.header-logo img {
    width: 100%;
}
.search-bar input {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-right: 0px;
}
.search-bar .input-group-text button{
    border-left: 0px !important;
    border-bottom-right-radius: 25px !important;
    border-top-right-radius: 25px !important;
    background-color: transparent;
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
}
.search-bar .input-group-text{
    padding: 0px;
    border: 0;
    background-color: transparent;
}
.mobile-bar{
    display: none;
}



/* Home Page Banner */
.mbs-section{
    width: 100%;
    height:600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.mbc-content{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mbc-content h6{
    color: #fff;
}
.mbc-content p {
    color: #fff;
    max-width: 600px;
    padding: 20px 0px 50px;
}
.mbc-btn{
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B69E00;
    color: #fff;
    border-radius: 25px;
    font-size: 18px;
    font-family: 'ABeeZee-Regular';
}
.mbc-btn:hover{
    color: #fff;
}


/* Product Section */
.pss-section{
    width: 100%;
    padding: 50px 0px;
    background-color: #F3F6F6;
    overflow: hidden;
}

.bg-product{
    width: 100%;
    height: 600px;
    border: 8px solid #fff;
    border-radius: 10px;
    position: relative;
}
.bg-product img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bg-product-btn {
    background-color: rgba(255,255,255,0.5);
    position: absolute;
    bottom: 50px;
    left: 50px;
    border: 3px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 375px;
    height: 125px;
    border-radius: 8px;
}
.bg-name{
    font-size: 30px;
    font-family: 'Portico-Diablo';
    color: #000000;
}
.bg-price{
    font-size: 21px;
    font-family: 'ABeeZee-Regular';
    color: #000000;
}
.grid-product {
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
}

.product-box {
    width: 24%;
    background-color: #fff;
    padding: 10px 10px 20px;
    text-align: center;
    border-radius: 5px;
}
.pro-img img {
    width: 100%;
}
.product-box h6 {
    padding: 20px 0px 10px;
    font-size: 14px;
    font-family: 'Portico-Diablo';
}
.product-box h6 a{
    color: #000;
}
.price-btn{
    font-size: 17px;
    font-family: 'ABeeZee-Regular';
    color: #000;
}
.pss-box:nth-child(2) .bg-product-btn {
    right: 50px !important;
    left: unset !important;
}

.pss-box{
    position: relative;
    z-index: 99;
}
.pss-box:nth-child(1):before{
    content: '';
    position: absolute;
    top: -40px;
    left: -60px;
    background-image: url(../img/b1.png);
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}
.pss-box:nth-child(2):before{
    content: '';
    position: absolute;
    bottom: 380px;
    right: -180px;
    background-image: url(../img/b2.png);
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}
.pss-box:nth-child(3):before{
    content: '';
    position: absolute;
    top: 20px;
    left: -70px;
    background-image: url(../img/b3.png);
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}


/* Clients Reviews */
.crs-section{
    width: 100%;
    padding: 50px 0px;
}

.crs-title h2{
    text-align: center;
    padding: 10px 0px;
}

.crs-slider{
    width: 80%;
    margin: auto;
    padding:30px 0px;
}
.crs-box-img {
    width: 100px;
    height: 100px;
    margin: auto;
}
.crs-box-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.crs-box-content {
    text-align: center;
}
.star-review {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}
.star-review li {
    padding-right: 5px;
}
.star-review li i{
    color: #F5C400;
}
.star-review li:last-child {
    padding-right: 0px;
}
.crs-name {
    padding-top: 40px;
    font-family: 'ABeeZee-Regular';
}

.crs-slider .owl-prev {
    position: absolute;
    top: 0;
    bottom: -100px;
    left: -40px;
}
.crs-slider .owl-next {
    position: absolute;
    top: 0;
    bottom: -100px;
    right: -40px;
}

.crs-slider .owl-next i,
.crs-slider .owl-prev i{
    color: rgba(0,0,0,0.3);
    font-size: 20px;
}
.crs-slider .owl-next:hover i,
.crs-slider .owl-prev:hover i{
    color: #663300;
}

.crs-slider .owl-next:hover,
.crs-slider .owl-prev:hover{
    background-color: transparent !important;
}
.sru-section {
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
.sru-content {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sru-content .crs-title h2,
.sru-content .crs-title p{
    color: #fff;
}
.sru-overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}
.crs-title p {
    padding-top: 10px;
}

.newsletter-form{
    padding-top: 50px;
}
.newsletter-form .input-group-text{
    padding: 0px;
    border: 0;
    background-color: transparent;
}
.newsletter-form button{
    border-radius: 25px !important;
    background-color: #B69E00;
    padding: .375rem .75rem;
    border:0px;
    width: 150px;
    color: #fff;
    height: 50px;
    margin-left: -30px;
    z-index: 9;
}
.newsletter-form .form-control{
    width: 400px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #B69E00;
    background-color: rgba(255,255,255,0.3);
    color: rgba(255,255,255,0.4);
}


footer{
    width: 100%;
}
.footer-content {
    width: 80%;
    margin: auto;
    padding: 50px 0px;
    text-align:center;
}

.foo-logo {
    display: flex;
    justify-content: center;
}
.foo-social-link {
    margin: auto;
    max-width: 166px;
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
}
.foo-social-link li a {
    border: 1px solid #B69E00;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B69E00;
}

.foo-social-link li a:hover {
    background-color: #B69E00;
    color: #fff;
}
.copyright{
    border-top:1px solid rgba(0,0,0,0.1);
}
.copyright-content {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}
.copyright-content p{
    font-size:14px;
}
.copyright-content a{
    font-size: 14px;
    font-family: 'ABeeZee-Regular';
    color: #000000;
}
.copyright-content ul {
    display: flex;
}
.copyright-content ul li {
    padding-right: 20px;
}
.copyright-content ul li:last-child {
    padding-right: 0px;
}



/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        About Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

.about{
    background-color: #F3F6F6;
}
.own-breadcrumb ul {
    display: flex;
}
.own-breadcrumb {
    padding: 100px 0px 30px;
}
.own-breadcrumb ul li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
    font-family: 'ABeeZee-Regular';
}
.own-breadcrumb ul a{
    font-family: 'ABeeZee-Regular';
    font-size: 16px;
    color: #000000;
}
.own-breadcrumb li{
    font-family: 'ABeeZee-Regular';
    font-size: 16px;
    color: #000000;
}

.oss-section{
    width: 100%;
    padding: 0px 0px 50px;
}
.oss-content{
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
}
.oss-box {
    text-align: center;
}

.oss-box-img {
    width: 400px;
    height: 400px;
    margin: 20px auto;
}

.oss-box-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.oss-box-title {
    padding-bottom: 20px;
}
.oss-box-title h1 {
    color: #000;
    position: relative;
    padding: 10px 0px;
    font-family: 'Portico-Diablo';
}

.oss-box-title h1:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 334px;
    background-image: url(../img/title-bottom.png);
    margin: auto;
    height: 15px;
    background-repeat: no-repeat;
}



.oss-inner-box {
    padding-top: 50px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.oss-inner-box-title {
    padding-bottom: 30px;
    z-index: 1;
}
.oss-inner-box-title h3 {
    position: relative;
    padding: 10px 0px;
    width: max-content;
    margin: auto;
    z-index: 1;
}
.oss-inner-box-title h3:before {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    width: 290px;
    background-image: url(../img/title-bottom.png);
    margin: auto;
    height: 15px;
    background-repeat: no-repeat;
}
.oss-inner-box-img{
    width: 100%;
    height: 600px;
    padding-top: 30px;
}
.oss-inner-box-img img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
}

.oss-content > div:nth-child(2) .oss-inner-box-title h3:after{
    content: '';
    position: absolute;
    left: -80px;
    top: -30px;
    width: 110px;
    height: 110px;
    background-image: url(../img/tb-1.png);
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}
.oss-content > div:nth-child(3) .oss-inner-box-title:after{
    content: '';
    position: absolute;
    right: -40px;
    top: 90px;
    width: 150px;
    height: 150px;
    background-image: url(../img/tb-2.png);
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}
.oss-content > div:nth-child(4) .oss-inner-box-title:after{
    content: '';
    position: absolute;
    left: -10px;
    top: 190px;
    width: 110px;
    height: 110px;
    background-image: url(../img/tb-4.png);
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}
.oss-content > div:nth-child(5) .oss-inner-box-title h3:after{
    content: '';
    position: absolute;
    right: -90px;
    top: 0px;
    width: 80px;
    height: 80px;
    background-image: url(../img/tb-3.png);
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}


.ocp-section {
    width: 100%;
    padding: 50px 0px;
}
.ocp-content {
    background-color: #fff;
    padding: 40px 0px;
    border-radius: 5px;
}
.ocp-boxes {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}
.ocp-box {
    width: 32%;
}
.ocp-box img {
    width: 100%;
    border-radius: 5px;
}
.ocp-box h3 {
    text-align: center;
    padding: 10px 0px;
}
.ocp-box h3 a{
    color: #000000;
}
.ocp-box:hover a{
    color: #B69E00;   
}



/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Bundles Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.bundles {
    background-color: #F3F6F6;
}
.bbs-section{
    width: 100%;
}
.bss-content {
    background-color: #fff;
    padding: 15px 10px 10px;
    border-radius: 16px;
}
.bss-img{
    width: 100%;
    height: 350px;
}
.bss-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.bss-content p {
    padding: 10px 20px;
}

.pbs-section{
    width: 100%;
    padding: 50px 0px;
}
.pbs-content {
    display: flex;
    justify-content: space-between;
}
.pbs-left {
    width: 25%;
}
.pbs-right {
    width: 73%;
}
.pbs-category {
    margin-top: 30px;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
}

.pbs-category li {
    padding-bottom: 20px;
}
.pbs-category li:last-child {
    padding-bottom: 0px;
}
.pbs-category a{
    font-size: 16px;
    color: #000000;
    font-family: 'ABeeZee-Regular';
    text-transform: uppercase;
}
a.active-cateory{
    font-family: 'ABeeZee-Regular';
}
.pbs-boxes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.pbs-boxes .product-box {
    width: 32%;
    margin-bottom: 30px;
    transition: 0.3s all;
}
.product-box:hover h6 a{
    color: #B69E00;
}
.pbs-search {
    display: flex;
    justify-content: flex-end;
    height: 68px;
}
.sort-by .form-group {
    display: flex;
    align-items: center;
}
.sort-by label{
    margin: 0;
    padding-right: 10px;
    font-family: "ABeeZee-Regular";
}
.sort-by .form-control{
    width: 200px;
    height: 40px;
    border-radius: 25px;
    padding: 0px 15px;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,0.3);
    color: rgba(0,0,0,0.4);
    font-family: "ABeeZee-Regular";
    position: relative;
}

.page-view-1 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0px 15px;
}
.page-view-2 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}



/* New Layout  */
.new-layout .product-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: 0.3s all;
}
.new-layout .pro-img {
    width: 30%;
}
.new-layout .pro-details {
    width: 65%;
    text-align: left;
}







/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Product Detail Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.product {
    background-color: #F3F6F6;
}
.product-title{
    padding: 10px 0px 50px;
}
.pud-content {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 30px;
}
.pub-img {
    width: 48%;
    background-color: #fff;
    padding: 10px 12px;
    border-radius: 5px;
}
.pub-detail {
    width: 48%;
    background-color: #fff;
    border-radius: 5px;
}
.pub-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.pub-title {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 20px;
}
.add-ons {
    padding: 20px;
}
.add-ons h6{
    font-family: 'ABeeZee-Regular';
    font-size: 18px;
}
.add-ons .form-control {
    width: 250px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 25px;
    color: rgba(0,0,0,0.4);
    margin: 10px 0px;
    font-size: 12px;
    font-family: 'ABeeZee-Regular';
}
.pub-buy {
    padding: 20px;
    background-color: #F8F8F8;
}
.pub-quantity {
    display: flex;
    justify-content: space-between;
}
.pub-quantity {
    display: flex;
    justify-content: space-between;
}

.pub-btn {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px 10px;
}

.pub-btn button{
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #B69E00;
    border-radius: 25px;
    font-family: 'ABeeZee-Regular';
    font-size: 18px;
    color: #B69E00;
    background: transparent;
}
.pub-btn button:hover{
    background-color: #B69E00;
    color: #fff;
}
.pub-btn button:first-child{
    margin-right: 10px;
}
.pub-btn button:last-child{
    margin-left: 10px;
}
.control input#input {
    width: 70px;
    border: 1px solid #000000;
    border-left: 0px;
    border-right: 0;
    height: 35px;
    text-align: center;
    font-size: 14px;
    font-family: 'ABeeZee-Regular';
}

.control .qtyminus {
    border: 1px solid #000;
    height: 35px;
    width: 35px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: #fff;
    color: rgba(0,0,0,0.4);
}
.control .qtyplus {
    border: 1px solid #000;
    height: 35px;
    width: 35px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #fff;
    color: rgba(0,0,0,0.4);
}

.control {
    display: flex;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.pub-class {
    font-family: 'ABeeZee-Regular';
    font-size: 18px;
}
.pub-class span {
    text-decoration: line-through;
    color: rgba(0,0,0,0.3);
    padding-left: 10px;
}
.pub-list {
    padding: 20px;
}
.pub-list ul {
    padding-left: 20px;
}
.pub-list ul li {
    position: relative;
    font-family: 'ABeeZee-Regular';
    font-size: 18px;
}
.pub-list ul li:before {
    content: '';position: absolute;
    top: 8px;
    left: -20px;
    background-image: url(../img/list.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 15px;
    height: 12px;
}
.pub-links {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.review-star {
    display: flex;
}
.review-star li {
    padding-right: 5px;
}
.pub-social-link {
    display: flex;
}
.pub-social-link li {
    padding-right: 5px;
}
.review-star li i {
    color: #FFAF10;
}
.pub-social-link a {
    width: 30px;
    height: 30px;
    border: 1px solid #B69E00;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #B69E00;
}
.pub-social-link a:hover{
    background-color:#B69E00;
    color: #fff;
}


/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Quality Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

.quality{
    background-color: #F3F6F6;
}
.tre-section{
    width: 100%;
}
.tre-content{
    padding: 50px 0px 0px;
    background-color: #fff;
}
.tre-recipe {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 50px;
}
.recipe-step {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.step-img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}
.step-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.recipe-step p {
    max-width: 200px;
    text-align: center;
}


.qct-section{
    width: 100%;
    padding: 50px 0px;
}
.qct-content{
    padding: 50px 0px;
    background-color: #fff;
}
.qct-info {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.qct-box {
    width: 45%;
}
.qct-box-list{
    position: relative;
    padding-left: 20px;
    max-width: 450px;
}
.qct-box-list:before{
    content: '';
    position: absolute;
    top: 5px;
    left: -10px;
    width: 20px;
    height: 20px;
    background-image: url('../img/black-list.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.qct-box-list p {
    padding: 5px 0px 15px;
}
.qct-box:last-child {
    display: flex;
    height: 300px;
    justify-content: center;
}
.beef-img {
    width: 300px;
    height: 300px;
}
.beef-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.beef-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.ifo-step h6{
    color: #B69E00;
    font-family: 'Portico-Diablo';
    font-size: 18px;
}
.ifo-step {
    text-align: right;
}


/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Gift Profuct Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.product-price{
    display: flex;
    padding:20px 0px 0px;
}
.product-price input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}
.product-price label {
    width: 85px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,0.4);
    font-size: 14px;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 25px;
    font-size: 14px;
    font-family: 'ABeeZee-Regular';
    margin-right: 10px;
}
.product-price input[type="radio"]:checked + label {
    color: #B69E00;
    border: 1px solid #B69E00;
}
.gds-section{
    width: 100%;
    padding-bottom: 50px;
}
.gds-content{
    background-color: #fff;
}
.gds-info {
    padding: 20px;
}



/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Recipe Blog Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.blog{
    background-color: #F3F6F6;
}
.blg-content{
    padding-bottom: 50px;
}
.blg-box{
    width: 100%;
    background-color: #fff;
    margin-bottom: 50px;
}
.blg-box:last-child{
    margin-bottom: 0px;
}
.blg-img {
    padding: 10px;
    width: 100%;
    height: 500px;
}
.blg-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blg-description {
    padding: 20px;
}
.blg-description p {
    padding: 10px 0px 25px;
}
.blg-post-date {
    padding: 20px;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.blg-btn {
    width: 180px;
    height: 50px;
    border: 0px;
    background-color: #B69E00;
    color: #fff;
    border-radius: 25px;
    font-size: 17px;
    font-family: 'ABeeZee-Regular';
}
.blg-post-date {
    display: flex;
}
.blg-post-date a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    color: #000;
    font-family: 'ABeeZee-Regular';
}
.blg-post-date a img {
    margin-right: 10px;
}


/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Blog Detail Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

.blog-detail{
    background-color: #F3F6F6;
}

.sbp-section{
    width: 100%;
    padding-bottom: 50px;
}
.sbp-content{
    background-color: #fff;
}
.sbp-img {
    width: 100%;
    height: 500px;
}
.sbp-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sbp-content .blg-post-date{
    border-top: 0px;
}
.blg-recipe-detail {
    padding: 20px;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.recipe-details-titles {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.titles-box {
    width: 20%;
}
.titles-box h6{
    font-family: 'Portico-Diablo';
    font-size: 16px;
}

.blg-recipe-detail > p{
    padding: 10px 0px 30px;
}
.blg-ingredient {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.ingredients-box {
    width: 45%;
}
.ingredients-box ul {
    padding-left: 20px;
    padding-top: 20px;
}
.ingredients-box ul li {
    position: relative;
    padding-bottom: 5px;
}
.ingredients-box ul li:before{
    content: '';
    position: absolute;
    top: 5px;
    left: -20px;
    width: 10px;
    height: 10px;
    background-image: url('../img/list.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.blg-recipe-note {
    padding: 20px;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.blg-recipe-note p {
    padding: 10px 0px;
}
.blg-social-link {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.blg-social-link ul {
    display: flex;
}
.blg-social-link li {
    padding-left: 15px;
}
.blg-social-link li a {
    width: 30px;
    height: 30px;
    border: 1px solid #B69E00;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #B69E00;
    font-size: 12px;
}
.blg-social-link li a:hover {
    background-color: #B69E00;
    color: #fff;
}



/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Contact us
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

.contact{
    background-color: #F3F6F6;
}
.gms-section{
    width: 100%;
}
.gms-content{
    padding: 10px;
    background-color: #fff;
}
.cis-section{
    width: 100%;
    padding: 50px 0px;
}
.cis-content {
    display: flex;
    justify-content: space-between;
}
.cis-box {
    width: 48%;
    background-color: #fff;
}
.cis-title {
    padding: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.cis-info {
    padding: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.cis-info {
    padding: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.contact-links {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
}
.contact-links a {
    padding-top: 10px;
    color: #000;
}
.contact-links a img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    object-fit: contain;
}
.cis-social {
    padding: 20px;
}
.cis-social ul {
    padding-top: 20px;
    display: flex;
}
.cis-social ul li {
    padding-right: 15px;
}
.cis-social ul li a {
    width: 30px;
    height: 30px;
    border: 1px solid #B69E00;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #B69E00;
    font-size: 12px;
}
.cis-social ul li a:hover{
    background-color: #B69E00;
    color: #fff;
}
.cis-form {
    padding: 20px;
}
.cis-form form {
    padding-top: 20px;
}
.cis-form input.form-control {
    border-radius: 25px;
    color: rgba(0,0,0,0.3);
    font-size: 14px;
}
.cis-form ::placeholder{
    color: rgba(0,0,0,0.3);
}
.cis-form textarea.form-control{
    border-radius: 10px;
}
.cis-form-btn {
    width: 100%;
    height: 40px;
    background-color: #B69E00;
    border: none;
    color: #fff;
    border-radius: 25px;
}

.faq-section {
    width: 100%;
    padding-bottom: 50px;
}
.faq-content {
    background-color: #fff;
}
.faq-content .card{
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-radius: 0;
}
.faq-content .card-header{
    background-color: transparent;
    border: 0px;
}
.faq-content .card-body{
    padding: 0px 1.25rem 1.25rem;
}
.faq-link {
    padding: 10px 0px;
    width: 100%;
    border: none;
    cursor: pointer;
    text-align: left;
    border: 0px;
    background: #fff;
    background-color: transparent;
    position: relative;
    font-family: 'Optima-bold';
}
.faq-link i{
    transition: 0.5s all;
}
.faq-link.collapsed i {
    transform: rotate(-90deg);
    transition: 0.5s all;
}




/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Media Query
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

@media(max-width:1024px){
    .header-menu-items:first-child li{
        padding-right: 15px;
    }
    .header-logo{
        width: 160px;
        top: 10px;
    }
    .product-price label{
        font-size: 12px;
    }
}

@media(max-width:992px){
    h1{
        font-size: 40px;
        line-height: 46px;
    }
    h2{
        font-size: 36px;
    }
    h3{
        font-size: 26px;
    }
    h4{
        font-size: 24px;
    }
    h5{
        font-size: 20px;
    }
    h6{
        font-size: 18px;
    }
    p{
        font-size: 14px;
    }


    .bg-product{
        height: 400px;
    }
    .bg-product-btn{
        width: 300px;
        height: 100px;
    }
    .bg-name{
        font-size: 24px;
    }
    .bg-price{
        font-size: 18px;
    }
    .grid-product{
        flex-flow: row wrap;
    }
    .product-box{
        width: 48%;
        margin-bottom: 20px;
    }


    .header-logo {
        width: 120px;
        top: 8px;
    }
    .mobile-bar{
        display: block;
        color: #000;
    }
    .menu-item{
        position: absolute;
        background-color: #fff;
        flex-direction: column;
        border: 0px;
        left: -100%;
        padding: 20px 40px 0px;
        height: 100vh;
        width: 200px;
        z-index: 999;
        transition: 0.5s all;
    }   
    .menu-item.menu-active{
        left: -40px;
        transition: 0.5s all;
    }
    .header-menu-items:first-child li{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .search-bar .form-control{
        width: 130px;
    } 
    .search-bar .input-group{
        margin:0px !important;
    }
    .search-bar .form-group{
        margin-top: 1rem;
    }
    .header-menu-items:last-child ul{
        align-items: center;
    }
    .header-menu-items:last-child ul a img {
        width: 30px;
    }



    /* About Page */
    .oss-box-title h1:before{
        bottom: -9px;
        width: 200px;
    }
    .oss-inner-box-title h3:before{
        width: 200px;
    }
    .oss-inner-box-img{
        height: 400px;
    }
    .ocp-boxes{
        flex-flow: row wrap;
    }
    .ocp-box{
        width: 100%;
        margin-bottom: 50px;
    }


    /* Bundle Page */
    .pbs-search{
        height: 61px;
    }
    .pbs-boxes .product-box{
        width: 48%;
    }
    .new-layout .product-box{
        width: 100%;
    }
    

    /* Product Detail Page */
    .product-title{
        padding: 10px 0px;
    }
    .pud-content{
        flex-flow: row wrap;
    }
    .pub-img{
        width: 100%;
        margin-bottom: 30px;
    }
    .pub-detail{
        width: 100%;
    }


    /* Quality Page */
    .qct-info{
        flex-flow: row wrap;
    }
    .qct-box{
        width: 100%;
    }
    .qct-box:last-child{
        margin-top: 30px;
    }



    /* Blog Page */
    .blg-img{
        height: 400px;
    }


    /* Contact Us */
    .gms-content iframe {
        height: 300px;
    }
}


@media(max-width:767px){
    h2{
        font-size: 30px;
    }
    h3{
        font-size: 22px;
    }

    .topbar p{
        font-size: 12px;
    }
    .header-contact ul{
        justify-content: center;
    }
    .header-contact a{
        font-size: 10px;
    }
    li.search-bar {
        display: none;
    }
    .header-menu-area{
        height: 60px;
    }
    .header-logo {
        width: 90px;
        top: 10px;
    }
    .ocp-section{
        padding: 0px 0px 50px;
    }


    .mbc-btn{
        width: 160px;
        height: 40px;
        font-size: 16px;
    }
    .bg-product-btn{
        width: 200px;
        height: 60px;
        left: 0;
        right: 0;
        margin: auto;
    }
    .bg-name{
        font-size: 20px;
    }
    .bg-price {
        font-size: 16px;
    }
    .product-box{
        width: 100%;
    }
    .pss-box:nth-child(2) .bg-product-btn{
        right: 0px !important;
        left: 0px !important;
    }
    .grid-product{
        padding: 0px;
    }
    .pss-box:nth-child(1):before,
    .pss-box:nth-child(2):before,
    .pss-box:nth-child(3):before{
        display: none;
    }
    .crs-title p{
        text-align: center;
    }
    .newsletter-form .form-control{
        width: 300px;
    }
    .newsletter-form button{
        width: 120px;
        font-size: 14px;
    }
    .copyright-content{
        flex-flow: column-reverse;
        align-items: center;
    }
    .copyright-content ul{
        margin-bottom: 20px;
    }
    .foo-logo{
        width: 150px;
        margin: auto;
    }
    .foo-logo img {
        width: 100%;
    }
    .foo-social-link{
        max-width: 130px;
    }
    .foo-social-link li a{
        width: 30px;
        height: 30px;
    }



    /* About Page */

    .oss-content{
        padding: 20px;
    }
    .oss-box-img{
        width: 200px;
        height: 200px;
    }


    .oss-content > div:nth-child(2) .oss-inner-box-title h3:after,
    .oss-content > div:nth-child(3) .oss-inner-box-title:after,
    .oss-content > div:nth-child(4) .oss-inner-box-title:after,
    .oss-content > div:nth-child(5) .oss-inner-box-title h3:after{
        display: none;
    }
    .oss-inner-box-title h3{
        width: auto;
    }
    .oss-inner-box-img {
        height: 250px;
    }
    .own-breadcrumb {
        padding: 70px 0px 30px;
    }
    .own-breadcrumb ul a,
    .own-breadcrumb li{
        font-size: 10px;
    }
    .ocp-box{
        margin-bottom: 20px;
    }



    /* Bundle Page */
    .pbs-content{
        flex-flow: row wrap;
    }
    .pbs-left{
        width: 100%;
        margin-bottom: 30px;
    }
    .pbs-right{
        width: 100%;
    }
    .sort-by .form-control{
        width: 155px;
    }
    .pbs-boxes .product-box{
        width: 100%;
    }
    .bss-img{
        height: 250px;
    }


    /* Product Detail Page */
    .pub-btn a{
        font-size: 14px;
        height: 40px;
    }


    /* Quality Page */
    .recipe-step{
        width: 100%;
    }
    .qct-box:last-child{
        height: 210px;
    }
    .beef-img{
        height: 200px;
    }
    .qct-box-list h4{
        font-size: 17px;
    }
    .qct-box-list:before{
        top: 3px;
        left: -5px;
        width: 15px;
        height: 15px;
    }
    .ifo-step h6{
        font-size: 16px;
    }

    .product-price{
        flex-flow: row wrap;
    }


    /* Blog Page */
    .blg-img{
        height: 300px;
    }
    .blg-btn{
        width: 160px;
        height: 40px;
        font-size: 14px;
    }
    .blg-post-date a{
        padding-right: 10px;
        font-size: 12px;
    }


    /* Blog Detail Page */
    .recipe-details-titles{
        flex-flow: row wrap;
    }
    .titles-box{
        width: 50%;
        margin-bottom: 10px;
    }
    .blg-ingredient{
        flex-flow: row wrap;
    }
    .ingredients-box{
        width: 100%;
        margin-bottom: 10px;
    }
    .sbp-img{
        height: 300px;
    }
    .blg-recipe-detail >h4{
        font-size: 20px;
    }


    /* Contact Us */
    .gms-content iframe {
        height: 200px;
    }
    .cis-content{
        flex-flow: row wrap;
    }
    .cis-box{
        width: 100%;
        margin-bottom: 20px;
    }
    .cis-section{
        padding: 20px 0px;
    }
}
